* {margin: 0; padding: 0;}

body {
	background: #FFF;
}
canvas {
	display: block;
}

.clippy-option-button {
	display: block;
	padding-top: 10px;
}

.demo-button {
	border: solid;
	border-width: 1px;
	border-color: #000;
	background: #FFF;
	margin: 5px;
	padding: 5px;
	text-decoration: none;
	text-color: #000;
}

.hatnote{
	display:none;
}

.infobox{
	display:none;
}

.references{
	display:none;
}