* {margin: 0; padding: 0;}

.debug{
	display:none !important;
}

body {
	background: #FFF;
	font-family: "Arial", Sans-Serif;
}
canvas {
	display: block;
	position: absolute;
	z-index: -1000;
	top: 0;
	left: 0;
	background:url("arendelle.jpg");
	background-size: 100%;
}

.contentpane{
	padding:5px;
}

.clippy-option-button {
	display: block;
	padding-top: 10px;
}

.demo-buttons{
	width: 100%;
	float: none;
}

.demo-button {
	border: solid;
	display: block;
	float: left;
	border-width: 1px;
	border-color: #000;
	background: #FFF;
	margin-right: 5px;
	margin-bottom: 5px;
	padding:5px;
	text-decoration: none;
}

#content-div  a{
	text-decoration: none;
	color: #000;
	pointer-events: none;
	cursor: default;
}

.thumb{
	display: none;
}

.hatnote{
	display:none;
}

.infobox{
	display:none;
}

.references{
	display:none;
}

.reference{
	display:none;
}