/*Simple reset*/
* {margin: 0; padding: 0;}

body {
	/*You can use any kind of background here.*/
	background: #6b92b9;
}
canvas {
	display: block;
}

a {
	border: solid;
	border-width: 1px;
	border-color: #000;
	background: #FFF;
	margin: 5px;
	padding: 5px;
	text-decoration: none;
	text-color: #000;
}